body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ecdddd;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 2% auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 40px;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#gender {
    display: flex;
    flex-direction: row;
}

#male {
    margin-left: 10%;
}

#female {
    margin-left: 10%;
}

/* Colorful Layout */
.header {
    background-color: #007bff;
    /* color: #fff; */
    padding: 1%;
    text-align: center;
}

.headerText {
    color: #fff;
    font-family: sans-serif;
}

.info {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}

.info p {
    color: #444;
}